@font-face {
    font-family: bello;
    src: url(fonts/bello-script.ttf);
   }

   @font-face {
    font-family: proxima;
    src: url(fonts/proxima-nova-regular.woff)

   }

* {
    box-sizing: border-box;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: #4F88EF;
    width:100vw;
    padding: 20px 30px;

}



h1 {
    color:white;
    font-family: bello;
    font-weight: 400;
    font-size: 26px;    
}

a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 5px 20px;
    position: relative;
}


a:after {    
background: none repeat scroll 0 0 transparent;
bottom: 0;
content: "";
display: block;
height: 1px;
position: absolute;
background: #fff;
transition: width 0.3s ease 0s, left 0.3s ease 0s;
width: 0;
}

a:hover:after { 
width: 100%; 
left: 0; 
}

li {
    display: inline;
}

ul {
    font-family: proxima;
    font-size: 14px;
    list-style: none;
    width: 100%;
    gap: 14px;
}




.left-menu{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 30px;
}


.open-menu{
    display:none;
}
.close-menu {
    display: none;
}

@media only screen and (max-width: 825px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #4F88EF;
        

    }

    ul {
        padding: 0;
    }
    li {
        display:block;
        padding: 24px 0px;
    }
    
   
    .menu-list {
        font-size: 24px;
        line-height:24px;

        text-align: center;
        font-style: normal;
        font-weight: 400;
    }

    .open-menu{
        display:block;
    }
    .open-menu.active{
        display: none;
    }
    .close-menu {
        display: none;
    }
    .close-menu.active{
        display: block;
    }

    .main-menu{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 70px;
        left: -100%;
        flex-direction: column;
        align-items: center;
        background-color: #4F88EF;
        transition: 0.3s;
    }


    .main-menu.active{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 70px;
        left:0;
        flex-direction: column;
        align-items: center;
       
    }
  }
  